@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;

  font-family: var(--text-font-family), sans-serif;
  font-size: 12vh;

  --text-font-family: 'Hanken Grotesk', sans-serif;
  --display-font-family: 'DM Serif Display', sans-serif;

  --color-text: #222222;
  --color-background: #edd2a6;
  --color-progress: #ffffff;
  --color-primary: #370f39;
  --color-accent: #222222;

  --border-radius: 18px;
  --separator-slant: 0.375;
}

#player {
  --height: 100vh;
  width: 100%;

  background: var(--color-primary);
  color: var(--color-text);

  height: var(--height);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#coverContainer {
  height: var(--height);

  padding: 0 calc(var(--height) * var(--separator-slant) + 8px) 0 10vh;

  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;

  width: calc(80vh + 16vh);

  margin-top: 0;
  opacity: 1;
  transition: margin 0.6s ease, opacity 0.6s ease;
}

#cover {
  position: absolute;
  width: 80vh;
  height: 80vh;
  z-index: 10;
  border-radius: calc(var(--border-radius) * 0.5);
  overflow: hidden;
  opacity: 1;
  transition: opacity 600ms ease;
  background: var(--color-accent);
}

#picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#qrcode {
  position: absolute;
  top: 5vh;
  left: 5vh;
  right: 5vh;
  bottom: 5vh;
  shape-rendering: crispEdges;
}

#qrcode svg {
  width: 100%;
  height: 100%;
}

#pause {
  position: absolute;
  display: none;
  top: 15vh;
  left: 15vh;
  right: 15vh;
  bottom: 15vh;
  opacity: 0.5;
}

#track {
  background: var(--color-background);
  color: var(--color-text);
  height: var(--height);

  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  
  width: calc(100% - 80vh - var(--height) * var(--separator-slant));
  padding: 5vh 10vh 5vh 5vh;
  line-height: 1.5;
  
  left: 0;
  transition: left 600ms ease;
}

#track::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 0px;
  border-style: solid;
  border-width: 0 0 var(--height) calc(var(--height) * var(--separator-slant));
  border-color: transparent transparent var(--color-background) transparent;
  z-index: 1;
}

#artist {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}

#album {
  opacity: 0.8;
}

#title {
  font-weight: bold;
  font-size: 1.2em;
}

#original {
  font-style: italic;
}

#progress {
  position: relative;
  margin: 5vh 0;
  height: 10vh;
  width: 100%;
  background: var(--color-progress);
  border-radius: 0.5em;
  overflow: hidden;
  flex-shrink: 0;
}

#currentProgress {
  position: absolute;
  width: 0;
  left: 0;
  height: 100%;
  background: var(--color-primary);
  transition: width 100ms linear;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 100%;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.info > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#player.--updating #cover {
  opacity: 0;
}

#player.--updating #track {
  left: 100%;
}

#player.--updating #currentProgress {
  transition: none;
}

#player.--paused #pause {
  display: block;
}

#player.--paused #picture {
  opacity: 0.5;
}

#player.--paused #qrcode {
  display: none;
}