@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #191419;
  color: white;
  font-family: "Hanken Grotesk", sans-serif;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
}

figure {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

figcaption {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 1em;
  background: #19141980;
  transition: bottom 0.5s ease;
  max-height: 100%;
  overflow: auto;
}

figure:hover figcaption {
  bottom: 0;
}

img,
video {
  width: 100%;
  height: auto;
  margin: 0;
  vertical-align: top;
}

.portfolio {
  width: 1920px;
  max-width: 100%;
  margin: auto;
}

.juxtapose-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

.juxtapose {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}