
/* MOCK SPECIFIC */

.mock header,
.mock footer {
  backdrop-filter: blur(8px);
  background: var(--glass);
}

#overlayContent > * {
  display: none;
  transition: 
    opacity 0.6s ease,
    top 0.6s ease,
    left 0.6s ease,
    width 0.6s ease,
    height 0.6s ease;
}

.mock #overlayContent > * {
  display: block;
}

#background_video {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#webcam_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  opacity: 0;
}

#webcam_top_video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition:  top 0.6s ease,
    left 0.6s ease,
    width 0.6s ease,
    height 0.6s ease;
}

#webcam {
  opacity: 0;

  position: absolute;
  width: 640px;
  height: 500px;
  overflow: hidden;
  border-radius: var(--border-radius);

  z-index: 10;
}


#webcam_side_video {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;

  transition:  top 0.6s ease,
    left 0.6s ease,
    width 0.6s ease,
    height 0.6s ease;
}

#chat {
  opacity: 0;

  position: absolute;

  border-radius: var(--border-radius);
  background: var(--glass);
  backdrop-filter: blur(8px);
  border: none;
  margin-left: auto;
  overflow: hidden;

  z-index: 10;
}

#chat iframe {
  border: none;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 1) 96px);
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: var(--border-radius);
  opacity: 0;
}

/*  Cours Left */

.mock-cours-left #chat {
  opacity: 1;
  top: 112px;
  left: 1264px;
  width: 640px;
  height: 500px;
}

.mock-cours-left #webcam {
  opacity: 1;
  top: 112px;
  left: 16px;
  width: 640px;
  height: 500px;
}

.mock-cours-left #webcam_side_video {
  left: -20%;
}

.mock-cours-left #webcam_top {
  opacity: 1;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

/*  Cours Right */

.mock-cours-right #chat {
  opacity: 1;
  top: 112px;
  left: 16px;
  width: 640px;
  height: 500px;
}

.mock-cours-right #webcam {
  opacity: 1;
  top: 112px;
  left: 1264px;
  width: 640px;
  height: 500px;
}

.mock-cours-right #webcam_side_video {
  left: -20%;
}

.mock-cours-right #webcam_top {
  opacity: 1;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

/* Discussion Left */

.mock-discussion-left #background_video {
  opacity: 1;
}

.mock-discussion-left #webcam {
  opacity: 1;
  top: 112px;
  left: 16px;
  width: 1232px;
  height: 888px;
}

.mock-discussion-left #webcam_side_video {
  left: -20%;
}

.mock-discussion-left #chat {
  opacity: 1;
  top: 112px;
  left: 1264px;
  width: 640px;
  height: 888px;
}

/* Discussion FULL Left */

.mock-discussion-full-left #background_video {
  opacity: 0;
}

.mock-discussion-full-left #webcam {
  opacity: 1;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;

  z-index: 2;
  border-radius: 0;
}

.mock-discussion-full-left #webcam_side_video {
  left: 0;
}

.mock-discussion-full-left #chat {
  opacity: 1;
  top: 112px;
  left: 1264px;
  width: 640px;
  height: 888px;
}

/* Discussion Right */

.mock-discussion-right #background_video {
  opacity: 1;
}

.mock-discussion-right #chat {
  opacity: 1;
  top: 112px;
  left: 16px;
  width: 640px;
  height: 888px;
}

.mock-discussion-right #webcam {
  opacity: 1;
  top: 112px;
  left: 672px;
  width: 1232px;
  height: 888px;
}

.mock-discussion-right #webcam_side_video {
  left: -20%;
}

/* Discussion FULL Right */

.mock-discussion-full-right #background_video {
  opacity: 0;
}

.mock-discussion-full-right #chat {
  opacity: 1;
  top: 112px;
  left: 16px;
  width: 640px;
  height: 888px;
}

.mock-discussion-full-right #webcam {
  opacity: 1;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 2;
  border-radius: 0;
}

.mock-discussion-full-right #webcam_side_video {
  left: 0;
}

/* Ecran Left */

.mock-ecran-left #background_video {
  opacity: 1;
}

.mock-ecran-left #chat {
  opacity: 1;
  top: 112px;
  left: 16px;
  width: 640px;
  height: 500px;
}

.mock-ecran-left #screen {
  opacity: 1;
  top: 112px;
  left: 672px;
  width: 1232px;
  height: 696px;
}

.mock-ecran-left #webcam {
  opacity: 1;
  top: 628px;
  left: 16px;
  width: 640px;
  height: 372px;
}

.mock-ecran-left #webcam_side_video {
  left: -15%;
}


/* Ecran Right */

.mock-ecran-right #background_video {
  opacity: 1;
}

.mock-ecran-right #chat {
  opacity: 1;
  top: 112px;
  left: 1264px;
  width: 640px;
  height: 500px;
}

.mock-ecran-right #screen {
  opacity: 1;
  top: 112px;
  left: 16px;
  width: 1232px;
  height: 696px;
}

.mock-ecran-right #webcam {
  opacity: 1;
  top: 628px;
  left: 1264px;
  width: 640px;
  height: 372px;
}

.mock-ecran-right #webcam_side_video {
  left: -15%;
}