@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  background: #191419;
}

* {
  box-sizing: border-box;
}

label {
  display: flex;
  margin: 16px 0;
  gap: 8px;
}

input {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #999;
  width: auto;
  flex-grow: 1;
}

.btn {
  display: inline-flex;
  vertical-align: middle;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
  background: #fff;
  color: #191419;
  text-decoration: none;
}

.btn:hover {
  background: #eee;
}

.btn img {
  width: 1em;
  height: 1em;
}

.btn-alt {
  background: #191419;
  color: #fff;
}

.btn-alt:hover {
  background: #272127ff;
  color: #fff;
}


.btn-twitch {
  background: #9146ff;
  color: #fff;
}

.btn-twitch:hover {
  background: #ac75ff;
  color: #fff;
}

.content {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  background: #edd2a6;
  padding: 16px 16px;
  min-height: 100vh;
}

.colorscheme {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.color {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 3px;
}

.colorPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'DM Serif Display'
}

.colorScheme {
  font-weight: bold;
}

.colorHex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  font-size: 24px;
  text-transform: uppercase;
}

#redirect_uri {
  border: 1px solid #999;
  background: #eee;
  padding: 0 4px;
  user-select: all;
}